.kanban__title {
  display: flex;
  gap: 1rem;
  align-items: center;
  border: 1px solid #ccc;
  padding: .6rem;
  color: var(--primary-color);
  font-weight: 500;
}

.kanban__title > span {
  background-color: #edeff3;
  color: #8798a0;
}

.kanban__title--finish {
  color: var(--secondary-color);
}

.kanban__body {
  padding: .6rem;
}