:root {
  --primary-color: #072854;
  --secondary-color: #2cbd62;
  --gray-color: #f1f1f1;
  --blue-color: #FCFDFF;
  --kanban-color: #80929a;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}