.dash__container {
  max-width: 1360px;
  margin: 0 auto;
}

.kanban-filter__container {
  margin-top: .5rem;
  padding: 0 1rem;
}

.kanban__container {
  max-height: 80vh;  /* Ajuste a altura conforme necessário */
  /* overflow-y: auto;  */
  margin-top: 1rem;
  background: #fff;
}