.dash__container {
  max-width: 1380px;
  margin: 0 auto;
  padding-bottom: 20rem;
}

.kanban-filter__container {
  margin-top: .5rem;
  padding: 0 1rem;
}

.kanban__container {
  max-height: 80vh;
  margin-top: 1rem;
  background: #fff;
}